* {
  margin: 0;
  padding: 0;
}
.logo-top {
  width: 140px;
  margin: 10px;
}

.cabeca {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: rgb(244, 246, 248);
  position: fixed;
  width: 100%;
}
#menu {
  display: flex;
  position: fixed;
}
.btn-menu {
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
}

#menuList {
  background-color: rgb(244, 246, 248);
  color: #000000;
  transition: transform 0.3s ease;
  width: 120px;
  height: 500px;
}
.menu-list-hidden {
  display: none;
}
.menu-list-visible {
  display: flex;
  position: absolute;
  top: 50px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1em;
}
span {
}
.list {
  flex-direction: column;
  list-style: none;
}

.icons-profile {
  display: flex;
  gap: 10px;
}
.search-bar-container {
  display: flex;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
}

.search-input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 24px 0 0 24px;
  outline: none;
}

.search-input:focus {
  border-color: #aecacf;
}

.search-button {
  background-color: #aecacf;
  border: none;
  padding: 6px 20px;
  border-radius: 0 24px 24px 0;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  font-size: 20px;
}

#video {
  display: flex;
  margin-left: 120px;
}
iframe {
  border-radius: 10px;
}
