* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #0f0f0f;
}
a {
  text-decoration: none;
}
main {
  margin-top: -10px;
}
.cabeca {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-logo {
  display: flex;
  margin-top: px;
}
#logo-top {
  width: 140px;
  margin-top: -20px;
}
.icons-profile {
  margin-top: -20px;
  margin-right: 10px;
}
.btn-profille {
  background: none;
  border: none;
}

/* Muda a cor dos icon */
.icon {
  filter: brightness(0) invert(1);
}
/* Menu  lateral */
.btn-menu {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  filter: brightness(0) invert(1);
  margin-left: 20px;
  margin-top: 17px;
}
#menu {
  display: flex;
}
#menuList {
  cursor: default;
  background-color: #0f0f0f;
  color: #ffffff;
  transition: transform 0.3s ease;
  width: 210px;
  height: 100%;
  font-size: 18px;
}
.menu-list-hidden {
  display: none;
}
.menu-list-visible {
  display: flex;
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1em;
  text-align: center;
  margin-top: -30px;
}
.span-li {
  margin-left: 10px;
  color: #fff;
}
.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  gap: 10px;
}
.btn-list {
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: 0;
  background: none;
  display: flex;
  align-items: center;
}
.btn-list:hover {
  border-radius: 5px;
  background-color: #9b9b9b;
}
.div-list {
  width: 130%;
  border-bottom: 1px solid #ffffff;
}
.you {
  font-weight: bold;
}
/* Final menu lateral */

.search-bar-container {
  display: flex;
  max-width: 100%;
  margin-top: -17px;
  margin-right: 90px;
}

.search-input {
  width: 450px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 24px 0 0 24px;
  outline: none;
}

.search-input:focus {
  border-color: #aecacf;
}

.search-button {
  background-color: #aecacf;
  border: none;
  padding: 6px 20px;
  border-radius: 0 24px 24px 0;
  cursor: pointer;
  color: white;
  display: flex;
}

.search-icon {
  font-size: 20px;
}
/* Corpo da página*/
#video {
  margin-top: 50px;
  display: flex;
  margin-left: 130px;
  max-width: 60%;
}
iframe {
  border-radius: 10px;
  max-width: 800x;
}
.inscritos {
  color: #acacac;
}
.video-description {
  margin-top: 10px;
  display: flex;
  margin-left: 130px;
  color: #fff;
}
.video-main {
  display: flex;
  flex-direction: column;
}
.botoes {
  display: flex;
  gap: 10px;
}
#img-canal {
  display: flex;
  width: 50px;
  margin-left: 125px;
  object-fit: cover;
}
.canal {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  color: #fff;
}
.verificado {
  width: 13px;
  margin-top: 6px;
}

.sub {
  border-radius: 15px;
  border: none;
  width: 110px;
  height: 35px;
  background: #444444;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 30px;
  margin-top: 7px;
  transition: background-color 0.3s;
}
.inscrever {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  width: 115px;
  height: 35px;
  color: #ffff;
}
.inscrever.inscrito {
  border-radius: 15px;
  background-color: #0073e6;
  color: white;
}
.like {
  border-radius: 15px;
  border: none;
  width: 115px;
  height: 35px;
  background: #444444;
  margin-top: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.like-up {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  color: #ffff;
  transition: color 0.3s;
}
.like-down {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  color: #ffff;
  transition: color 0.3s;
}

.like button:hover {
  color: #0073e6;
}
.like button.active {
  color: #0073e6;
}
.share {
  border-radius: 15px;
  border: none;
  width: 115px;
  height: 35px;
  background: #444444;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 7px;
}
.share-button {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: #ffff;
}
.info-canal {
  display: flex;
  align-items: center;
  margin-left: 130px;
}
.like-share {
  display: flex;
  margin-left: 500px;
  gap: 10px;
  color: #ffff;
}
.descricao {
  display: flex;
  flex-direction: column;
  margin-left: 125px;
  width: 1130px;
  height: 400px;
  background-color: #444444;
  border-radius: 10px;
  margin-top: 10px;
}
.texto {
  padding: 10px;
  color: #fff;
}
.views {
  text-decoration: none;
}
.hastag {
  text-decoration: none;
  color: #3ea6ff;
}

.shorts {
  margin-top: -65.5%;
  margin-left: 70%;
  color: #fff;
}
.burro,
.qual-linguagem {
  text-align: left;
  font-size: 13px;
}
.videos-shorts {
  display: flex;
  gap: 10px;
}
.programa-burro-1 {
  max-width: 200px;
  color: #fff;
}
.videos {
  display: grid;
  margin-left: 70%;
  color: #fff;
}
.video-1 {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.nome-canal1 {
  cursor: pointer;
  font-size: 12px;
  color: #acacac;
  border-radius: 3px;
}

.visualizacoes {
  font-size: 12px;
  margin-top: 6px;
}
