* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0f0f0f;
}
#logo-top {
  width: 140px;
  margin-left: 50px;
}

.cabeca {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #0f0f0f;
  position: fixed;
  width: 100%;
}
#menu {
  display: flex;
  position: fixed;
}
.btn-menu {
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  filter: brightness(0) invert(1);
  margin-left: 20px;
}
.icons-profile {
  display: flex;
  margin-right: 10px;
  gap: 10px;
}
.icon {
  filter: brightness(0) invert(1);
}
#menuList {
  cursor: default;
  background-color: #0f0f0f;
  color: #ffffff;
  transition: transform 0.3s ease;
  width: 210px;
  top: 45px;
  height: 1000px;
  font-size: 18px;
}
.menu-list-hidden {
  display: none;
}
.menu-list-visible {
  display: flex;
  position: absolute;
  top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1em;
  text-align: center;
}
.span-li {
  margin-left: 10px;
  color: #fff;
}
.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  gap: 10px;
}
.btn-list {
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: 0;
  background: none;
  display: flex;
  align-items: center;
}
.btn-list:hover {
  border-radius: 5px;
  background-color: #9b9b9b;
}
.div-list {
  width: 130%;
  border-bottom: 1px solid #ffffff;
}
.you {
  font-weight: bold;
}
#icons-profile {
  display: flex;
  gap: 10px;
}
.search-bar-container {
  display: flex;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
}

.search-input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 24px 0 0 24px;
  outline: none;
}

.search-input:focus {
  border-color: #aecacf;
}

.search-button {
  background-color: #aecacf;
  border: none;
  padding: 6px 20px;
  border-radius: 0 24px 24px 0;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  font-size: 20px;
}

#video {
  margin-top: 150px;
  display: flex;
  margin-left: 130px;
  max-width: 60%;
}
iframe {
  border-radius: 10px;
  max-width: 800x;
}

.video-description {
  margin-top: 10px;
  display: flex;
  margin-left: 130px;
}
.video-main {
  display: flex;
  flex-direction: column;
}
.botoes {
  display: flex;
  gap: 10px;
}
.img-canal {
  display: flex;
  width: 50px;
  margin-left: 125px;
}
.canal {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
}
.verificado {
  width: 11px;
  margin-bottom: 6px;
}

.sub {
  border-radius: 15px;
  border: none;
  width: 110px;
  height: 35px;
  background: #aecacf;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 30px;
  margin-top: 7px;
}
.inscrever {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  width: 115px;
  height: 35px;
}
.like {
  border-radius: 15px;
  border: none;
  width: 115px;
  height: 35px;
  background: #aecacf;
  margin-top: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.like-up {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
}
.like-down {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
}
.share {
  border-radius: 15px;
  border: none;
  width: 115px;
  height: 35px;
  background: #aecacf;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 7px;
}
.share-button {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.info-canal {
  display: flex;
  align-items: center;
  margin-left: 130px;
}
.like-share {
  display: flex;
  margin-left: 500px;
  gap: 10px;
}
.descricao {
  display: flex;
  flex-direction: column;
  margin-left: 125px;
  width: 1130px;
  height: 400px;
  background-color: rgb(223, 228, 235);
  border-radius: 10px;
  margin-top: 10px;
}
.texto {
  padding: 10px;
}
